@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

#container-background {
  
  height: 80vh; 
  width: 80vw;
  background: url('../src/assets/images/back.svg');
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}